In [ ]:
pip show pandas

Name: pandas
Version: 2.1.4
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

        Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
        All rights reserved.

        Copyright (c) 2011-2023, Open source contributors.

        Redistribution and use in source and binary forms, with or without
        modification, are permitted provided that the following conditions are met:

        * Redistributions of source code must retain the above copyright notice, this
          list of conditions and the following disclaimer.

        * Redistributions in binary form must reproduce the above copyright notice,
          this list of conditions and the following disclaimer in the documentation
          and/or other materials provided with the distribution.

        * Neither the name of the copyright holder nor the names of its
          contributors may be used to endorse or promote products derived from
          this software without specific prior written permission.

        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
        AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
        IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
        DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
        FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
        DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
        SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
        CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
        OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
        OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
Location: /usr/local/lib/python3.10/dist-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by: altair, arviz, bigframes, bigquery-magics, bokeh, bqplot, cmdstanpy, cudf-cu12, cufflinks, datascience, db-dtypes, dopamine_rl, fastai, geemap, geopandas, google-colab, gspread-dataframe, holoviews, ibis-framework, mizani, mlxtend, pandas-datareader, pandas-gbq, panel, plotnine, prophet, pymc, seaborn, sklearn-pandas, statsmodels, vega-datasets, xarray, yfinance

In [ ]:
import pandas as pd

In [ ]:
james_bond_data = pd.read_csv("jamesbond.csv") .convert_dtypes()

FileNotFoundError: [Errno 2] No such file or directory: 'jamesbond.csv'

In [ ]:
james_bond_data = pd.read_csv("jamesbond.csv") .convert_dtypes()

FileNotFoundError: [Errno 2] No such file or directory: 'jamesbond.csv'

In [ ]:
james_bond_data = pd.read_csv("jamesbond.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'jamesbond.csv'

In [ ]:
james_bond_data = pd.read_csv("jamesbond.csv") .convert_dtypes()

In [ ]:
head()

NameError: name 'head' is not defined

In [ ]:
james_bond_data.head()

,Year,Movie,Bond,Director,Composer,Writer,Cinematographer,Depicted_Film_Loc,Shooting_Loc,Bond_Car_MFG,...,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Conquests,Martinis,BJB,Kills_Bond,Kills_Others,Top_100,Video_Game
0,1962,Dr. No,Sean Connery,Terence Young,Monty Norman,"Richard Maibaum, Johanna Harwood & Berkely Mather",Ted Moore,"Great Britain, Jamaic","England, Jamaica",Sunbeam,...,110,7.3,7.7,3,2,1,4,8,0,0
1,1963,From Russia with Love,Sean Connery,Terence Young,John Barry,Richard Maibaum & Johanna Harwood,Ted Moore,"United Kingdom, Great Britain, Turkey, Croatia...","England, Scotland, Italy, Switzerland, Turkey",Bently,...,115,7.5,8.0,4,0,0,11,16,0,1
2,1964,Goldfinger,Sean Connery,Guy Hamilton,John Barry,Richard Maibaum & Paul Dehn,Ted Moore,"United States, Great Britain, Switzerland","England, Switzerland, United States",Aston Martin,...,110,7.8,8.4,2,1,2,9,68,1,1
3,1965,Thunderball,Sean Connery,Terence Young,John Barry,Richard Maibaum & John Hopkins,Ted Moore,"France, Great Britain, Bahamas, United States","England, France, Bahamas, United States",Aston Martin,...,130,7.0,6.8,3,0,0,20,90,1,0
4,1967,You Only Live Twice,Sean Connery,Lewis Gilbert,John Barry,Roald Dahl,Freddie Young,"United States, Russia, Kazakhstan, Norway, Japan","Japan, Spain, Norway",Toyota,...,117,6.9,6.3,3,1,0,21,175,1,0

In [ ]:
In [3]: new_column_names = {
   ...:     "Release": "release_date",
   ...:     "Movie": "movie_title",
   ...:     "Bond": "bond_actor",
   ...:     "Bond_Car_MFG": "car_manufacturer",
   ...:     "US_Gross": "income_usa",
   ...:     "World_Gross": "income_world",
   ...:     "Budget ($ 000s)": "movie_budget",
   ...:     "Film_Length": "film_length",
   ...:     "Avg_User_IMDB": "imdb",
   ...:     "Avg_User_Rtn_Tom": "rotten_tomatoes",
   ...:     "Martinis": "martinis_consumed",
   ...:     "Kills_Bond": "bond_kills",
   ...: }
   ...:
   ...: data = james_bond_data.rename(columns=new_column_names)

NameError: name 'james_bond_data' is not defined

In [ ]:
In [3]: new_column_names = {
   ...:     "Release": "release_date",
   ...:     "Movie": "movie_title",
   ...:     "Bond": "bond_actor",
   ...:     "Bond_Car_MFG": "car_manufacturer",
   ...:     "US_Gross": "income_usa",
   ...:     "World_Gross": "income_world",
   ...:     "Budget ($ 000s)": "movie_budget",
   ...:     "Film_Length": "film_length",
   ...:     "Avg_User_IMDB": "user_rating_imdb",
   ...:     "Avg_User_Rtn_Tom": "rotten_tomatoes",
   ...:     "Martinis": "martinis_consumed",
   ...:     "Kills_Bond": "bond_kills",
   ...: }
   ...:
   ...: james_bond_data.rename(columns=new_column_names)

NameError: name 'james_bond_data' is not defined

In [ ]:
In [3]: new_column_names = {
   ...:     "Release": "release_date",
   ...:     "Movie": "movie_title",
   ...:     "Bond": "bond_actor",
   ...:     "Bond_Car_MFG": "car_manufacturer",
   ...:     "US_Gross": "income_usa",
   ...:     "World_Gross": "income_world",
   ...:     "Budget ($ 000s)": "movie_budget",
   ...:     "Film_Length": "film_length",
   ...:     "Avg_User_IMDB": "imdb",
   ...:     "Avg_User_Rtn_Tom": "rotten_tomatoes",
   ...:     "Martinis": "martinis_consumed",
   ...:     "Kills_Bond": "bond_kills",
   ...: }
   ...:
   ...: james_bond_data= james_bond_data.rename(columns=new_column_names)

NameError: name 'james_bond_data' is not defined

In [ ]:
import pandas as pd # make sure pandas is imported

james_bond_data = pd.read_csv("jamesbond.csv") .convert_dtypes()

new_column_names = {
    "Release": "release_date",
    "Movie": "movie_title",
    "Bond": "bond_actor",
    "Bond_Car_MFG": "car_manufacturer",
    "US_Gross": "income_usa",
    "World_Gross": "income_world",
    "Budget ($ 000s)": "movie_budget",
    "Film_Length": "film_length",
    "Avg_User_IMDB": "user_rating_imdb",
    "Avg_User_Rtn_Tom": "rotten_tomatoes",
    "Martinis": "martinis_consumed",
    "Kills_Bond": "bond_kills",
}

james_bond_data = james_bond_data.rename(columns=new_column_names) # assign result to james_bond_data

james_bond_data.head()

FileNotFoundError: [Errno 2] No such file or directory: 'jamesbond.csv'

In [ ]:
import pandas as pd # make sure pandas is imported

james_bond_data = pd.read_csv("jamesbond.csv") .convert_dtypes()

new_column_names = {
    "Release": "release_date",
    "Movie": "movie_title",
    "Bond": "bond_actor",
    "Bond_Car_MFG": "car_manufacturer",
    "US_Gross": "income_usa",
    "World_Gross": "income_world",
    "Budget ($ 000s)": "movie_budget",
    "Film_Length": "film_length",
    "Avg_User_IMDB": "user_rating_imdb",
    "Avg_User_Rtn_Tom": "rotten_tomatoes",
    "Martinis": "martinis_consumed",
    "Kills_Bond": "bond_kills",
}

james_bond_data = james_bond_data.rename(columns=new_column_names) # assign result to james_bond_data

james_bond_data.head()

,Year,movie_title,bond_actor,Director,Composer,Writer,Cinematographer,Depicted_Film_Loc,Shooting_Loc,car_manufacturer,...,film_length,user_rating_imdb,rotten_tomatoes,Conquests,martinis_consumed,BJB,bond_kills,Kills_Others,Top_100,Video_Game
0,1962,Dr. No,Sean Connery,Terence Young,Monty Norman,"Richard Maibaum, Johanna Harwood & Berkely Mather",Ted Moore,"Great Britain, Jamaic","England, Jamaica",Sunbeam,...,110,7.3,7.7,3,2,1,4,8,0,0
1,1963,From Russia with Love,Sean Connery,Terence Young,John Barry,Richard Maibaum & Johanna Harwood,Ted Moore,"United Kingdom, Great Britain, Turkey, Croatia...","England, Scotland, Italy, Switzerland, Turkey",Bently,...,115,7.5,8.0,4,0,0,11,16,0,1
2,1964,Goldfinger,Sean Connery,Guy Hamilton,John Barry,Richard Maibaum & Paul Dehn,Ted Moore,"United States, Great Britain, Switzerland","England, Switzerland, United States",Aston Martin,...,110,7.8,8.4,2,1,2,9,68,1,1
3,1965,Thunderball,Sean Connery,Terence Young,John Barry,Richard Maibaum & John Hopkins,Ted Moore,"France, Great Britain, Bahamas, United States","England, France, Bahamas, United States",Aston Martin,...,130,7.0,6.8,3,0,0,20,90,1,0
4,1967,You Only Live Twice,Sean Connery,Lewis Gilbert,John Barry,Roald Dahl,Freddie Young,"United States, Russia, Kazakhstan, Norway, Japan","Japan, Spain, Norway",Toyota,...,117,6.9,6.3,3,1,0,21,175,1,0

In [1]:
data columns

SyntaxError: invalid syntax (<ipython-input-1-94e2413722df>, line 1)

In [4]:
data.columns

NameError: name 'data' is not defined

In [5]:
In [4]: data.columns
Out[4]:
Index(['release_date', 'movie_title', 'bond_actor', 'car_manufacturer',
       'income_usa', 'income_world', 'movie_budget', 'film_length',
       'imdb', 'rotten_tomatoes', 'martinis_consumed', 'bond_kills'],
      dtype='object')

SyntaxError: invalid syntax (<ipython-input-5-654c42af8b5b>, line 2)

In [6]:
data.columns

NameError: name 'data' is not defined

In [7]:
data.info()

NameError: name 'data' is not defined

In [8]:
import pandas as pd # make sure pandas is imported

james_bond_data = pd.read_csv("jamesbond.csv") .convert_dtypes()

new_column_names = {
    "Release": "release_date",
    "Movie": "movie_title",
    "Bond": "bond_actor",
    "Bond_Car_MFG": "car_manufacturer",
    "US_Gross": "income_usa",
    "World_Gross": "income_world",
    "Budget ($ 000s)": "movie_budget",
    "Film_Length": "film_length",
    "Avg_User_IMDB": "user_rating_imdb",
    "Avg_User_Rtn_Tom": "rotten_tomatoes",
    "Martinis": "martinis_consumed",
    "Kills_Bond": "bond_kills",
}

james_bond_data = james_bond_data.rename(columns=new_column_names) # assign result to james_bond_data

james_bond_data.head()

,Year,movie_title,bond_actor,Director,Composer,Writer,Cinematographer,Depicted_Film_Loc,Shooting_Loc,car_manufacturer,...,film_length,user_rating_imdb,rotten_tomatoes,Conquests,martinis_consumed,BJB,bond_kills,Kills_Others,Top_100,Video_Game
0,1962,Dr. No,Sean Connery,Terence Young,Monty Norman,"Richard Maibaum, Johanna Harwood & Berkely Mather",Ted Moore,"Great Britain, Jamaic","England, Jamaica",Sunbeam,...,110,7.3,7.7,3,2,1,4,8,0,0
1,1963,From Russia with Love,Sean Connery,Terence Young,John Barry,Richard Maibaum & Johanna Harwood,Ted Moore,"United Kingdom, Great Britain, Turkey, Croatia...","England, Scotland, Italy, Switzerland, Turkey",Bently,...,115,7.5,8.0,4,0,0,11,16,0,1
2,1964,Goldfinger,Sean Connery,Guy Hamilton,John Barry,Richard Maibaum & Paul Dehn,Ted Moore,"United States, Great Britain, Switzerland","England, Switzerland, United States",Aston Martin,...,110,7.8,8.4,2,1,2,9,68,1,1
3,1965,Thunderball,Sean Connery,Terence Young,John Barry,Richard Maibaum & John Hopkins,Ted Moore,"France, Great Britain, Bahamas, United States","England, France, Bahamas, United States",Aston Martin,...,130,7.0,6.8,3,0,0,20,90,1,0
4,1967,You Only Live Twice,Sean Connery,Lewis Gilbert,John Barry,Roald Dahl,Freddie Young,"United States, Russia, Kazakhstan, Norway, Japan","Japan, Spain, Norway",Toyota,...,117,6.9,6.3,3,1,0,21,175,1,0

In [9]:
data.columns

NameError: name 'data' is not defined

In [10]:
james_bond_data.columns

Index(['Year', 'movie_title', 'bond_actor', 'Director', 'Composer', 'Writer',
       'Cinematographer', 'Depicted_Film_Loc', 'Shooting_Loc',
       'car_manufacturer', 'Bond_Girl_Nat', 'income_usa', 'US_Adj',
       'income_world', 'World_Adj', 'Budget', 'Budget_Adj', 'film_length',
       'user_rating_imdb', 'rotten_tomatoes', 'Conquests', 'martinis_consumed',
       'BJB', 'bond_kills', 'Kills_Others', 'Top_100', 'Video_Game'],
      dtype='object')

In [11]:
james_bond_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               24 non-null     Int64
 1   movie_title        24 non-null     string
 2   bond_actor         24 non-null     string
 3   Director           24 non-null     string
 4   Composer           24 non-null     string
 5   Writer             24 non-null     string
 6   Cinematographer    24 non-null     string
 7   Depicted_Film_Loc  24 non-null     string
 8   Shooting_Loc       24 non-null     string
 9   car_manufacturer   24 non-null     string
 10  Bond_Girl_Nat      24 non-null     string
 11  income_usa         24 non-null     Int64
 12  US_Adj             24 non-null     Int64
 13  income_world       24 non-null     Int64
 14  World_Adj          24 non-null     Int64
 15  Budget             24 non-null     Int64
 16  Budget_Adj         24 non-null     Int64
 17  film_length        24 non-null     Int64
 18  user_rating_imdb   24 non-null     Float64
 19  rotten_tomatoes    24 non-null     Float64
 20  Conquests          24 non-null     Int64
 21  martinis_consumed  24 non-null     Int64
 22  BJB                24 non-null     Int64
 23  bond_kills         24 non-null     Int64
 24  Kills_Others       24 non-null     Int64
 25  Top_100            24 non-null     Int64
 26  Video_Game         24 non-null     Int64
dtypes: Float64(2), Int64(15), string(10)
memory usage: 5.6 KB

In [12]:
 data.loc[data.isna().any(axis="columns")]

NameError: name 'data' is not defined

In [13]:
james_bond_data.loc[james_bond_data.isna().any(axis="columns")]

Empty DataFrame
Columns: [Year, movie_title, bond_actor, Director, Composer, Writer, Cinematographer, Depicted_Film_Loc, Shooting_Loc, car_manufacturer, Bond_Girl_Nat, income_usa, US_Adj, income_world, World_Adj, Budget, Budget_Adj, film_length, user_rating_imdb, rotten_tomatoes, Conquests, martinis_consumed, BJB, bond_kills, Kills_Others, Top_100, Video_Game]
Index: []

[0 rows x 27 columns]

In [14]:
data.info()

NameError: name 'data' is not defined

In [15]:
james_bond_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               24 non-null     Int64
 1   movie_title        24 non-null     string
 2   bond_actor         24 non-null     string
 3   Director           24 non-null     string
 4   Composer           24 non-null     string
 5   Writer             24 non-null     string
 6   Cinematographer    24 non-null     string
 7   Depicted_Film_Loc  24 non-null     string
 8   Shooting_Loc       24 non-null     string
 9   car_manufacturer   24 non-null     string
 10  Bond_Girl_Nat      24 non-null     string
 11  income_usa         24 non-null     Int64
 12  US_Adj             24 non-null     Int64
 13  income_world       24 non-null     Int64
 14  World_Adj          24 non-null     Int64
 15  Budget             24 non-null     Int64
 16  Budget_Adj         24 non-null     Int64
 17  film_length        24 non-null     Int64
 18  user_rating_imdb   24 non-null     Float64
 19  rotten_tomatoes    24 non-null     Float64
 20  Conquests          24 non-null     Int64
 21  martinis_consumed  24 non-null     Int64
 22  BJB                24 non-null     Int64
 23  bond_kills         24 non-null     Int64
 24  Kills_Others       24 non-null     Int64
 25  Top_100            24 non-null     Int64
 26  Video_Game         24 non-null     Int64
dtypes: Float64(2), Int64(15), string(10)
memory usage: 5.6 KB

In [16]:
data["bond_actor"].value_counts()

NameError: name 'data' is not defined

In [17]:
james_bond_data["bond_actor"].value_counts()

bond_actor
Roger Moore       7
Sean Connery      6
Pierce Brosnan    4
Daniel Craig      4
Timothy Dalton    2
George Lazenby    1
Name: count, dtype: Int64

In [18]:
james_bond_data["car_manufacturer"].value_counts()

car_manufacturer
Aston Martin    9
AMC             2
Lotus           2
Rolls Royce     2
BMW             2
Sunbeam         1
Bently          1
Toyota          1
Mercury         1
Ford            1
CitroÃ«n         1
Bajaj           1
Name: count, dtype: Int64

In [20]:
james_bond_data[["film_length", "martinis_consumed"]].describe()

       film_length  martinis_consumed
count         24.0               24.0
mean    126.833333           1.083333
std      10.961064           1.316011
min          106.0                0.0
25%         119.75                0.0
50%          127.5                1.0
75%          131.5                1.0
max          148.0                6.0